version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name:  school-management-system
    environment:
      POSTGRES_DB: school_management_db
      POSTGRES_USER: developer
      POSTGRES_PASSWORD: v9G#8rTq!zP4sW2u@Lk7mXc$1Bf6N0y
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: